* {
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

picture {
  display: block;
}

body {
  font-size: 100%;
}

.enemigo .grid,
.amigo .grid {
  display: flex;
  flex-wrap: wrap;
}

.enemigo .grid div,
.amigo .grid div {
  border: 1px solid;
  flex-basis: 10%;
  height: 5vh;
}

.ship {
  background-color: gray;
}
